<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Display Images</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
		<th>ID</th>
        <th>Datetime</th>
        <th>Image Path</th>
		<th>Image</th>
      </tr>
    </thead>
    <tbody>
	{% for img in photos %}  
      <tr>
        <td>{{img.id}}</td>
        <td>{{img.upload_datetime}}</td>
        <td>{{img.path}}</td>
        <!-- <td><img src="photos/photos/Atom_1.0_icon_9Us7UYS.png", width="50" height="50"/></td> -->
		<td><img src="{{img.path}}", width="50" height="50"/></td>
        <!-- photos/photos/Atom_1.0_icon.png -->
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>
</body>
</html>